<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/telaLogin.css}"/> 
    </head>
    <body>
        <header>
            <h1>Login</h1>
        </header>
        <section>
            <form th:action="@{/}" method="post">
                <label>Login:</label>
                <input type="text" th:field="${user.login}">
                </br>
                <label>Senha:</label>
                <input type="text" th:field="${user.senha}">
                </br>
                <button type="submit" class="btn">Acessar</button>
            </form>
            <button>
                <a href="/telaCadastro">Cadastre-se</a>
            </button>
        </section>
    </body>
</html>