body{
    background-color: rgb(30, 30, 30);
    color: white;
}

header{
    text-align: center;
}

button{
    background-color:rgb(0, 129, 249);
    border-radius: 6px;
    color: white;
    padding: 5px;
}

#btnVoltar{
    float: right;
    margin-right: 2%;
}

#filmes, #series, #livros, #jogos{
    height: 150px;
    margin: 20px;
}

button a{
    text-decoration: none;
    color: black;
}

#adicionarFilme, #editarFilme, #adicionarSerie, #editarSerie, #adicionarLivro, #editarLivro, #adicionarJogo, #editarJogo{
    color: black;
}

