<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/telaLoginCad.css}" /> 
        <title>Cadastro</title>
    </head>

    <body>
        <header>
            <h1>Cadastro de usuário</h1>
        </header>
        <section>
            <form id="formCriaUser">
                <label for="nome">Nome:</label> 
                <input type="text" id="nome" name="nome"> 
                </br>
                <label for="login">Login:</label> 
                <input type="text" id="login" name="login"> 
                </br>
                <label for="senha">Senha:</label> 
                <input type="text" id="senha" name="senha"> 
                </br>
                <button type="submit">Cadastrar</button> 
            </form>
        </section>
        <button class="btnAction"><a href="/">Voltar</a></button>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
        <script th:src="@{/js/cadUsuarios.js}"></script> 
    </body>
</html>