<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela Inicial</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="telaPrincipal.css" /> 
    </head>

    <body>
        <header>
            <h1>Bem vindo!!</h1>
        </header>
        <section class="container">
            <div>
                <div id="filmes">
                    <h3>Filmes</h3>
                    <div class="row">
                        <table class="col-sm-4">
                            <thead>
                                <tr>
                                    <th>Para assistir</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="col-sm-4">
                            <thead>
                                <tr>
                                    <th>Para assistir</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="col-sm-4">
                            <thead>
                                <tr>
                                    <th>Para assistir</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

                <button onclick="document.getElementById('editarFilme').style.display = 'block'">Atualizar Filme</button>
                <button onclick="document.getElementById('adicionarFilme').style.display = 'block'">Adicionar Filme</button>
                <button>Remover Filme</button>

                <div id="adicionarFilme" class="w3-modal w3-animate-opacity">
                    <div class="w3-modal-content">
                        <header>
                            <span onclick="document.getElementById('adicionarFilme').style.display = 'none'"
                                  class="w3-button w3-display-topright">&times;</span>
                            <h2>Adicionar Filme</h2>
                        </header>
                        <div class="w3-container">
                            <form>
                                <label>Nome:</label>
                                <input type="text">
                                <br />
                                <label>Nome do diretor:</label>
                                <input type="text">
                                <br />
                                <label>Ano de lançamento:</label>
                                <input type="date">
                                <br />
                                <label>Tempo de duração:</label>
                                <input type="text">
                                <br />
                                <label>Status:</label>
                                <select name="" id="">
                                    <option value="Para assistir">Para assistir</option>
                                    <option value="Assistindo">Assistindo</option>
                                    <option value="Assistido">Assistido</option>
                                </select>
                            </form>
                            <button onclick="document.getElementById('adicionarFilme').style.display = 'none'">Adicionar</button>
                            <button onclick="document.getElementById('adicionarFilme').style.display = 'none'">Voltar</button>
                        </div>
                    </div>
                </div>
                <div id="editarFilme" class="w3-modal w3-animate-opacity">
                    <div class="w3-modal-content">
                        <header>
                            <span onclick="document.getElementById('editarFilme').style.display = 'none'"
                                  class="w3-button w3-display-topright">&times;</span>
                            <h2>Atualizar Filme</h2>
                        </header>
                        <div class="w3-container">
                            <form>
                                <label>Status:</label>
                                <input type="radio" name="radioBFilme">Para assistir</input>
                                <input type="radio" name="radioBFilme">Assistindo</input>
                                <input type="radio" name="radioBFilme">Assistido</input>
                            </form>
                            <button onclick="document.getElementById('editarFilme').style.display = 'none'">Atualizar</button>
                        </div>
                    </div>
                </div>
            </div>

            </br>
            <button id="btnVoltar">
                <a href="/">Voltar</a>
            </button>
        </section>
    </body>

</html>